<template>
    <!-- <lightning-card title="Purchase Order Lines' Histories"> -->
        <article class="slds-card">
            <div class="slds-card__header slds-grid">
              <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                  <h2 class="slds-card__header-title">
                    <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Purchase Order Lines' Hsitories">
                      <span>Purchase Order Lines' Histories</span>
                    </a>
                  </h2>
                </div>
                       <a id='csvDownload'
                           icon-name="utility:download" 
                           href={csvhref}
                           class="slds-button slds-button_neutral" 
                           target='._self'
                           download='POL PO History Related Data.csv' 
                           onclick={downloadCSVFile}>
                                Download as CSV
                          </a>
                       <lightning-button icon-name="utility:refresh"
                                         label="Refresh"
                                         title="Refresh"
                                         onclick={refreshApexHandler}>Refresh</lightning-button>
              </header>
            </div>
            <div class="slds-card__body slds-card__body_inner"  style="height: 300px;">
                <template if:true={poPolHistory}>         
                    <lightning-datatable
                        key-field="Id"
                        data={poPolHistory}
                        hide-checkbox-column="true"
                        columns={columns}

                    >
                   </lightning-datatable>
                </template>

            </div>
          </article>

    <!-- </lightning-card> -->
</template>